# Requirements
vf-flags>=0.2.5,<0.3
aiohttp>=3.8.0
emoji
typing_extensions
pynacl
aioconsole

# Recommended
python-dotenv
pyyaml

# Docs
sphinx
# furo
# sphinx-book-theme
sphinx_rtd_theme

# Testing
pytest
pytest-asyncio
pyyaml
