.py > .sig {
    font-size: 0;
    padding-left: 10px;
}

.py > .sig .property {
    font-size: initial;
}

.py > .sig .sig-prename {
    font-size: initial;
}

.py > .sig .sig-name {
    font-size: initial;
}

.py.class > .sig .sig-name:after,
.py.method > .sig .sig-name:after{
    color: var(--color-api-keyword);
    margin-left: 2px;
}

.py > .sig .sig-return {
    font-size: initial;
    margin-left: 8px;
}

.table-wrapper table {
    margin: 0;
    width: 100%;
}

.headerlink {
    font-size: initial;
}

.toc-drawer {
    flex-grow: 1;
}

.toc-drawer li {
    white-space: nowrap;
    overflow: clip;
}

.sig-param {
    margin-left: 2em;
    display: block;
}

.sig-param + .sig-paren {
    margin-left: 2em;
}

.sig-param:after {
    content: ","
}

/* .sig-param:last-of-type:not(:has(+ .sig-paren)) {
    display: inline;
} */

.sig-param:last-of-type:after {
    content: none;
}

.sig {
    font-size: 0;
}

.sig * {
    font-size: initial;
}

dd {
    margin-top: 1em;
}

.py.class .sig {
    border-left: 10px solid #ff2525;
}

.py.attribute .sig {
    border-left: 10px solid white;
}

.py.method .sig {
    border-left: 10px solid #0088ff;
}

.py.function .sig {
    border-left: 10px solid orange;
}

.sig-object:has(+ .sig-object) {
    border-radius: 5px 5px 0 0;
}

.sig-object ~ .sig-object {
    border-radius: 0 0 5px 5px;
}

.sig-object ~ .sig-object:has(+ .sig-object) {
    border-radius: 0;
}

.field-list dt:after {
    content: ":"
}

.field-list dd {
    margin-top: -3px;
}
